<link rel="stylesheet" href="/css/add-styles.css" >
<% if (title) { %>
<h1><%= title %></h1>
<% } else 
{ res.redirect('/') } %>

<%- messages() %>

<% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<div id="add-inventory" class="add-container">
  <form method="post" action="/inv/delete" class="AddForm">
    <label for="inventory" action="#" class="AddLabel" disabled
      >Classification:
      <% if(classificationSelect) { %>
        <%- classificationSelect %>
       <% } %>
    </label>
    <label for="inventory" action="#" class="AddLabel"
      >Make:
      <input
        type="text"
        name="inv_make"
        id="inv_make"
        required
        class="AddInput"
        value="<%= inv_make %>"
        readonly
      />
    </label>
    <label for="inventory" action="#" class="AddLabel"
      >Model:
      <input
        type="text"
        name="inv_model"
        required
        class="AddInput"
        value="<%= inv_model %>"
        readonly
      />
    </label>
    <label for="inventory" action="#" class="AddLabel"
      >Year:
      <input
        type="number"
        name="inv_year"
        min="1111" 
        max="9999"
        required
        class="AddInput"
        value="<%= inv_year %>"
        readonly
      />
    </label>
</label>
    <label for="inventory" action="#" class="AddLabel"
      >Price:
      <input
        type="number"
        name="inv_price"
        required
        class="AddInput"
        value="<%= inv_price %>"
        readonly
      />
    </label>
    <p>Confirm Deletion - The delete is permanent.</p>
    <input
      id="submitButton"
      type="submit"
      name="submit"
      value="Delete Vehicle"
      class="AddButton"
    />
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
  </form>
</div>
